@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    background: white;
}

img {
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

h1 {
    border-bottom: 2px solid #333;
}

h2 {
    color: rgb(3, 7, 123)
}

a:link, a:visited, a:hover, a:active {
    color: #333;
}